.input_1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  background-color: #ECFEE7;
  height: 16px;
  border: 1px solid #69675D; }

.underLine {
  text-decoration: underline; }

ul.api_list_ul {
  padding: 4px;
  margin: 0px;
  cursor: pointer; }

tr.main_layout_area {
  vertical-align: top;
  height: 100%; }

li.api_list_title {
  font-size: 10px;
  color: #000000;
  text-align: center;
  margin: 1px 1px 0px 0px;
  padding: 3px;
  border: 1px solid #000;
  list-style: none;
  background-color: #ccc; }

li.api_list_li {
  font-size: 10px;
  padding: 3px;
  border: 1px solid #000;
  list-style: none;
  background-color: #ddd;
  cursor: pointer;
  margin: 1px 1px 0px 0px; }

li.api_list_li:hover {
  background-color: #eee;
  color: #00F; }

.right_panel_td {
  width: 100%;
  min-height: 600px;
  height: 80%; }

#result_frame {
  width: 100%;
  height: 600px;
  border: 0px; }

.api_div input,
.api_div select,
.api_div textarea {
  margin-bottom: 12px; }

.api_div input.long,
.api_div select.long {
  width: 400px; }

.api_div textarea.long {
  width: 400px;
  height: 80px; }

.api_div input.short,
.api_div select.short {
  width: 100px; }

.api_div a {
  text-decoration: none;
  color: blue; }

.api_div a:hover {
  color: blueviolet; }

textarea.result_json,
textarea.no_parsing_result_json,
textarea.no_parsing_json_text {
  width: 600px;
  height: 100px; }

.var_name {
  color: #00f; }

.api_list.active {
  font-weight: bold;
  color: #00F; }

.radio_label {
  padding-left: 10px;
  font-weight: bold; }

/*# sourceMappingURL=api_console.css.map */
