.table thead tr td, .table thead tr th, .table tbody tr td, .table tbody tr th, .table tfoot tr td, .table tfoot tr th {
  vertical-align: middle; }

.dataTables_wrapper .table tbody tr td:last-of-type .btn {
  margin-top: 3px;
  margin-bottom: 3px; }

.radio-text {
  display: inline;
  vertical-align: -webkit-baseline-middle; }

.rect_bg_image {
  height: 0px;
  padding-bottom: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.warning_color {
  color: #d64635; }

.align_left {
  text-align: left; }

.align_right {
  text-align: right; }

.align_center {
  text-align: center; }

.date_picker_container {
  width: 120px; }

.line_height_34 {
  line-height: 34px; }

.margin_0 {
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px; }

.margin_top_40 {
  margin-top: 40px; }

.margin_top_10 {
  margin-top: 10px; }

.margin_top_6 {
  margin-top: 6px; }

.margin_right_10 {
  margin-right: 10px; }

.margin_left_10 {
  margin-left: 10px; }

.margin_right_30 {
  margin-right: 30px; }

.margin_left_30 {
  margin-left: 30px; }

c-margin-t-10 {
  margin-top: 10px !important; }

.tooltip-inner {
  white-space: pre-wrap;
  text-align: left; }

.grid_small_space {
  padding-left: 5px;
  padding-right: 5px; }
  .grid_small_space .light_gray_border {
    border: 1px solid #eee; }

.list_style_btns.btn > i.fa {
  margin-right: 0px; }

.progress {
  height: 30px;
  border-radius: 15px;
  background-color: #dcdcdc;
  margin: 20px; }
  .progress .progress-bar {
    height: 30px; }
    .progress .progress-bar span {
      line-height: 30px;
      font-size: 16px; }
    .progress .progress-bar.progress-bar-success.yet {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px; }
    .progress .progress-bar.progress-bar-yet {
      background-color: #dcdcdc;
      color: white; }

.progress-circle {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  background-color: #5dc09c;
  border: 4px solid white;
  float: right; }

.s-title {
  font-size: 24px;
  text-align: center;
  color: #32c5d2;
  background-color: #32c5d2;
  margin: 20px;
  margin-top: 20px;
  height: 2px; }
  .s-title span {
    top: -20px;
    position: relative;
    background-color: white; }

.row-tracking {
  float: right; }

.c-btn-link {
  padding: 0px 10px;
  margin-right: 20px; }

.bg-blue-aliceblue {
  background-color: #f0f8ff; }

.fancybox-opened {
  z-index: 10300; }

.pagination-li {
  position: relative;
  z-index: 10;
  background-color: #fff; }

.c-content-store .c-label {
  display: inline-block;
  position: absolute;
  z-index: 9;
  bottom: 0px;
  right: 0px; }

.c-layout-header .c-navbar .c-mega-menu.c-fonts-uppercase > .nav.navbar-nav > li .dropdown-menu > li > a {
  font-size: 14px; }

.no-border {
  border-width: 0px; }

.read .read_item {
  display: block; }
.read .unread_item {
  display: none; }

.unread .read_item {
  display: none; }
.unread .unread_item {
  display: block; }

@media (max-width: 991px) {
  .c-layout-footer-7 .c-head .c-right {
    margin-top: 0px; } }
@media (max-width: 767px) {
  .text-left-xs {
    text-align: left; }

  .text-right-xs {
    text-align: right; } }
@keyframes v_rotate360 {
  0% {
    transform: rotateX(0deg); }
  100% {
    transform: rotateX(360deg); } }
.animate_v_rotate360:hover .animate_target {
  transform: rotateX(360deg);
  transition-duration: 0.4s; }

.hover_zoom {
  transition: 0.3s;
  transform: scale(1, 1); }
  .hover_zoom:hover {
    transition: 0.3s;
    transform: scale(1.2, 1.2); }

.animate_gray_to_color {
  -webkit-filter: grayscale(100%);
  -webkit-filter: grayscale(1);
  filter: grayscale(100%);
  transition-duration: 0.8s; }
  .animate_gray_to_color:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transition-duration: 0.8s; }

.input-warning {
  color: #f0ad4e; }

.validation,
.create_account_validation,
.recipient_validation {
  padding: 4px;
  margin-bottom: 20px;
  border: 0px;
  border-radius: 0px;
  background-color: transparent;
  border-color: transparent;
  color: #e7505a; }

.align_item {
  padding-left: 35px !important; }
  .align_item i {
    margin-left: -25px; }

.store_banner {
  height: 300px;
  background-size: cover;
  background-position: center; }
  .store_banner .c-page-breadcrumbs {
    border: 1px solid #32c5d2;
    border-radius: 20px;
    padding: 0px 8px;
    background-color: #fff; }
    .store_banner .c-page-breadcrumbs li {
      color: #32c5d2;
      padding: 2px 4px 2px 4px; }
      .store_banner .c-page-breadcrumbs li a {
        color: #32c5d2; }
        .store_banner .c-page-breadcrumbs li a:hover {
          color: #3f444a !important; }

.category_banner {
  height: 315px;
  background-size: cover;
  background-position: center; }
  .category_banner .c-page-breadcrumbs {
    border: 1px solid #32c5d2;
    border-radius: 20px;
    padding: 0px 8px;
    background-color: #fff; }
    .category_banner .c-page-breadcrumbs li {
      color: #32c5d2;
      padding: 2px 4px 2px 4px; }
      .category_banner .c-page-breadcrumbs li a {
        color: #32c5d2; }
        .category_banner .c-page-breadcrumbs li a:hover {
          color: #3f444a !important; }

.no_item {
  padding-top: 80px;
  padding-bottom: 140px;
  font-size: 24px; }

.c-order-details .refund {
  background-color: #ffffe1; }

.footer_links a {
  color: #b1c4d0;
  font-size: 17px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 10px; }

.store_faq {
  background-color: #007383;
  text-align: center;
  color: white; }
  .store_faq .padding {
    padding: 50px;
    background-color: #007383; }
  .store_faq .cjec {
    left: 50px;
    z-index: 1; }
  .store_faq .tag {
    margin-left: -50px;
    margin-top: 90px; }
  .store_faq .sop {
    line-height: 100px;
    background-image: url(../images/store_faq/sop_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 132px; }
  .store_faq .bar {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-image: url(../images/store_faq/bar.png);
    background-repeat: repeat-y;
    background-size: 100% 100%;
    line-height: 70px;
    height: 119px; }
  .store_faq .need {
    background-color: #00aba5;
    line-height: 80px; }
  .store_faq .nblock {
    padding: 50px 50px 0px 50px;
    line-height: 25px;
    background-color: #007383; }
    .store_faq .nblock .n_img {
      display: block; }
    .store_faq .nblock .n_title {
      font-size: 20px;
      font-weight: bold;
      padding: 5px 0px; }
    .store_faq .nblock .n_desc {
      font-size: 16px;
      font-weight: normal;
      padding: 0px 20px;
      height: 100px; }

.product_faq {
  padding: 0 8em;
  overflow-x: auto; }
  .product_faq .question {
    background-color: #f4f8f9;
    padding: 10px 20px; }
    .product_faq .question .title {
      font-weight: bold;
      padding: 0px 10px; }
    .product_faq .question .desc {
      padding: 10px 10px; }
    .product_faq .question .date {
      float: right;
      font-weight: 100; }
  .product_faq .answer {
    padding: 10px 40px; }
    .product_faq .answer .title {
      padding: 0px 10px; }
    .product_faq .answer .desc {
      padding: 10px 10px;
      border-left: 5px solid #eee; }
    .product_faq .answer .date {
      padding: 10px 0px; }
  .product_faq .form_faq {
    margin: 0px 100px; }

.captcha_image {
  float: left;
  padding-right: 5px;
  margin-top: 2px; }

.margin-right-5 {
  margin-right: 5px; }

.margin-right-30 {
  margin-right: 30px; }

.font-14 {
  font-size: 14px; }

.padding-top-30 {
  padding-top: 30px; }

.nav-tabs.nav-justified li {
  border-width: 0;
  border: none;
  color: #32c5d2 !important;
  background: transparent; }
  .nav-tabs.nav-justified li.active a {
    transform: scale(1);
    border-width: 0;
    border: none;
    color: #32c5d2 !important;
    background: transparent; }
    .nav-tabs.nav-justified li.active a:focus {
      border-width: 0; }
    .nav-tabs.nav-justified li.active a:hover {
      border-width: 0;
      transform: scale(1); }
    .nav-tabs.nav-justified li.active a:after {
      border-width: 0;
      transform: scale(1); }
  .nav-tabs.nav-justified li a {
    border: none;
    color: #666; }
    .nav-tabs.nav-justified li a:hover {
      border: none;
      color: #32c5d2 !important;
      background: transparent; }
    .nav-tabs.nav-justified li a:after {
      content: "";
      background: #32c5d2;
      height: 2px;
      position: absolute;
      width: 100%;
      left: 0px;
      bottom: -1px;
      transition: all 250ms ease 0s;
      transform: scale(0); }
  .nav-tabs.nav-justified li:hover a:after {
    transform: scale(1); }

.padding-bottom-5 {
  padding-bottom: 5px; }

@media (max-width: 991px) {
  .store_faq .padding {
    padding: 50px; }
  .store_faq .cjec {
    left: 0px; }
  .store_faq .tag {
    margin-left: 0px;
    margin-top: 20px; } }
@media (max-width: 767px) {
  .product_faq {
    padding: 0; } }
@media (max-width: 479px) {
  .utobonus .flex_banner {
    display: block; }
    .utobonus .flex_banner .green_bg {
      margin-top: 0px; }

  .c-layout-header .c-brand {
    margin-left: 0px;
    margin-right: 0px; }
    .c-layout-header .c-brand > .c-topbar-toggler,
    .c-layout-header .c-brand > .c-search-toggler,
    .c-layout-header .c-brand > .c-cart-toggler {
      margin: 0px 15px 0 0; }

  .footer_links a {
    font-size: 14px; }

  .product_faq {
    padding: 0; }
    .product_faq .form_faq {
      margin: 0px 10px; } }
.slide_nav_container {
  width: 100%;
  height: 40px;
  overflow-y: hidden;
  overflow-x: scroll;
  position: fixed;
  top: 65px;
  z-index: 10;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #ccc;
  box-shadow: 0px 3px 9px -4px rgba(0, 0, 0, 0.25); }
  .slide_nav_container .slide_nav {
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: 38px;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    font-size: 0; }
    .slide_nav_container .slide_nav .slide_nav_item {
      display: inline-block;
      padding: 0px 20px;
      height: 38px;
      line-height: 38px;
      border-left: 1px solid #ccc;
      background-color: #32c5d2;
      font-size: 17px; }
      .slide_nav_container .slide_nav .slide_nav_item:first-child {
        border-left: 0px; }
      .slide_nav_container .slide_nav .slide_nav_item.active {
        background-color: #e66b4f; }
      .slide_nav_container .slide_nav .slide_nav_item .menu_item {
        height: 38px;
        color: #fff; }

.c-topbar-expanded .slide_nav_container {
  top: 109px; }

.c-content-pagination > li > a {
  width: 38px;
  height: 38px; }

.margin-top-40 {
  margin-top: 40px; }

body {
  overflow-x: hidden; }

.special_design {
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain; }

.s-margin-b {
  margin-bottom: -100px; }

.space-10 {
  padding-left: 10px;
  padding-right: 10px; }

.img-front {
  display: block;
  margin: auto; }

.light_gray_border {
  border: 1px solid #eee; }

.theme-blue .sp_title {
  color: white;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  background-image: url(../images/sp/bar_blue.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 73px;
  margin-left: -15px;
  margin-right: -15px; }
.theme-blue .flag_bar {
  background-color: #ff885d;
  background-image: url(../images/sp/flag_FF885D.png);
  background-repeat: no-repeat;
  background-position: right center;
  color: white;
  height: 24px;
  z-index: 99;
  padding-left: 20px; }

.theme-orange .sp_title {
  color: white;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  background-image: url(../images/sp/bar_orange.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 73px;
  margin-left: -15px;
  margin-right: -15px; }
.theme-orange .flag_bar {
  background-color: #FF58AB;
  background-image: url(../images/sp/flag_FF58AB.png);
  background-repeat: no-repeat;
  background-position: right center;
  color: white;
  height: 24px;
  z-index: 99;
  padding-left: 20px; }

.theme-green .sp_title {
  color: white;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  background-image: url(../images/sp/bar_green.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 73px;
  margin-left: -15px;
  margin-right: -15px; }
.theme-green .flag_bar {
  background-color: #00D3D1;
  background-image: url(../images/sp/flag_00D3D1.png);
  background-repeat: no-repeat;
  background-position: right center;
  color: white;
  height: 24px;
  z-index: 99;
  padding-left: 20px; }

.theme-pink .sp_title {
  color: white;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  background-image: url(../images/sp/bar_pink.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 73px;
  margin-left: -15px;
  margin-right: -15px; }
.theme-pink .flag_bar {
  background-color: #FFBC36;
  background-image: url(../images/sp/flag_FFBC36.png);
  background-repeat: no-repeat;
  background-position: right center;
  color: white;
  height: 24px;
  z-index: 99;
  padding-left: 20px; }

.theme-brown .sp_title {
  color: white;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  background-image: url(../images/sp/bar_brown.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 73px;
  margin-left: -15px;
  margin-right: -15px; }
.theme-brown .flag_bar {
  background-color: #FF885D;
  background-image: url(../images/sp/flag_FF885D.png);
  background-repeat: no-repeat;
  background-position: right center;
  color: white;
  height: 24px;
  z-index: 99;
  padding-left: 20px; }

.theme-red .sp_title {
  color: white;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  background-image: url(../images/sp/bar_red.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 73px;
  margin-left: -15px;
  margin-right: -15px; }
.theme-red .flag_bar {
  background-color: #FF58AB;
  background-image: url(../images/sp/flag_FF58AB.png);
  background-repeat: no-repeat;
  background-position: right center;
  color: white;
  height: 24px;
  z-index: 99;
  padding-left: 20px; }

.row-box {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px; }

.rect_image {
  width: 100%;
  height: 0px;
  padding-bottom: 100%;
  background-size: contain;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center; }

.tag_mark {
  background-image: url(../images/sp/tag.png);
  background-repeat: no-repeat;
  width: 32px;
  height: 48px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 9; }
  .tag_mark .tag_name {
    font-size: 12px;
    color: white;
    padding: 5px;
    display: block;
    width: 100%;
    text-align: center; }

.product_desc {
  background-color: white;
  color: black;
  height: 60px;
  font-size: 16px;
  padding: 10px 20px; }

.product_price {
  display: inline-table;
  background-color: white;
  color: #24c5d3;
  padding: 10px 20px;
  line-height: 35px; }
  .product_price .dollar {
    font-size: 16px; }
  .product_price .price {
    font-weight: bold;
    font-size: 26px;
    display: inline-flex; }

.sale-box {
  position: absolute;
  width: 89px;
  font-size: 14px;
  text-align: center;
  background-color: #FC45A0;
  color: white;
  top: 0px;
  right: 0px;
  padding: 3px;
  z-index: 99;
  -webkit-transition-property: top,right;
  -webkit-transition-duration: 0.5s; }
  .sale-box .padding-5 {
    padding: 3px; }
  .sale-box .sale-img {
    width: 77px;
    height: 77px; }
  .sale-box .l-sale-box {
    position: absolute;
    right: 85px;
    z-index: 99;
    text-align: right;
    background-color: #FC45A0;
    padding: 15px 5px;
    -webkit-transition-property: top,right;
    -webkit-transition-duration: 0.5s; }

@media (max-width: 767px) {
  .special_design {
    margin-top: 40px; }

  .s-margin-b {
    margin-bottom: 0px; }

  .space-10 {
    padding-left: 10px;
    padding-right: 10px; }

  .product_desc {
    height: 50px;
    font-size: 14px;
    padding: 10px 10px; }

  .product_price {
    padding: 10px 10px; } }
@media (max-width: 479px) {
  .special_design {
    margin-top: 40px; }

  .sp_title {
    font-size: 36px; }

  .s-margin-b {
    margin-bottom: 0px; }

  .space-10 {
    padding-left: 10px;
    padding-right: 10px; }

  .product_desc {
    height: 50px;
    font-size: 14px;
    padding: 10px 10px; }

  .product_price {
    padding: 10px 10px; } }

/*# sourceMappingURL=front_mobile.css.map */
