@charset "UTF-8";
#map {
  width: 100%; }

/* info window */
.gm-style > div:first-child > div + div > div:last-child > div {
  /* info window 灰底陰影 */
  /* info window 背景 */
  /* 箭頭 */
  /* 關閉按鈕 */
  /* info window 內文字 */ }
  .gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div:nth-of-type(2) {
    border-radius: 6px !important; }
  .gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div:nth-of-type(4) {
    background-color: #fff !important;
    box-shadow: #ccc !important;
    /*width: auto !important;
    height: auto !important;*/
    border-radius: 6px !important;
    border: 1px solid #32c5d2;
    overflow: hidden; }
  .gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div > div > div {
    /*background-color: #fff !important; */
    z-index: 10; }
  .gm-style > div:first-child > div + div > div:last-child > div > div:last-of-type {
    /*margin-right: 5px;
    margin-top: 5px;*/
    display: none; }
    .gm-style > div:first-child > div + div > div:last-child > div > div:last-of-type > img {
      display: none; }
  .gm-style > div:first-child > div + div > div:last-child > div .gm-style-iw {
    /*top: 22px !important;
    left: 22px !important;*/
    text-align: center;
    line-height: 13px; }
    .gm-style > div:first-child > div + div > div:last-child > div .gm-style-iw .store_icon {
      max-width: 40px;
      max-height: 40px; }
    .gm-style > div:first-child > div + div > div:last-child > div .gm-style-iw .store_title {
      font-size: 16px;
      vertical-align: middle; }
    .gm-style > div:first-child > div + div > div:last-child > div .gm-style-iw .store_address {
      margin-top: 10px;
      text-align: left; }
    .gm-style > div:first-child > div + div > div:last-child > div .gm-style-iw .store_tel {
      text-align: left; }
    .gm-style > div:first-child > div + div > div:last-child > div .gm-style-iw .store_intro {
      text-align: left;
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #32c5d2;
      padding-bottom: 10px; }

/*# sourceMappingURL=map.css.map */
