@media print {
  @page {
    size: portrait; } }
html, body {
  width: 1024px;
  border: 0px;
  padding: 0px;
  margin: 0px; }

body {
  font-size: 16px; }
  body .filling_text {
    position: relative;
    z-index: 1; }
    body .filling_text .row {
      width: 100%; }
    body .filling_text .col-xs-4 {
      width: 33.33%;
      float: left; }
    body .filling_text .col-xs-8 {
      width: 66.67%;
      float: left; }
    body .filling_text .fix_text {
      position: absolute;
      z-index: 2; }
  body .bg_img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    z-index: 0; }
  body .font-18 {
    font-size: 18px; }
  body .font-14 {
    font-size: 14px; }
  body .font-12 {
    font-size: 12px; }
  body .font-13 {
    font-size: 13px; }

/*# sourceMappingURL=print_consignment_note.css.map */
