$light_gray: #eee;
$theme_color: #32c5d2;

#map {
    width: 100%;
}

/* info window */
.gm-style > div:first-child > div + div > div:last-child > div
{
    /* info window 灰底陰影 */
    > div:first-child > div:nth-of-type(2) {
        border-radius: 6px !important;
    }

    /* info window 背景 */
    > div:first-child > div:nth-of-type(4)
        {
        background-color: #fff !important;
        box-shadow: #ccc !important;
        /*width: auto !important;
        height: auto !important;*/
        border-radius: 6px !important;
        border: 1px solid $theme_color;
        overflow: hidden;
    }

    /* 箭頭 */
    > div:first-child > div > div > div
        {
        /*background-color: #fff !important; */
        z-index: 10;
    }

    /* 關閉按鈕 */
    > div:last-of-type
        {
        /*margin-right: 5px;
        margin-top: 5px;*/
        display: none;

        > img {
            display: none;
        }
    }

    /* info window 內文字 */
    .gm-style-iw
    {
        /*top: 22px !important;
        left: 22px !important;*/
        text-align: center;
        line-height: 13px;

        .store_icon {
            max-width: 40px;
            max-height: 40px;
        }
        .store_title {
            font-size: 16px;
            vertical-align: middle;
        }
        .store_address {
            margin-top: 10px;
            text-align: left;
        }
        .store_tel {
            text-align: left;
        }
        .store_intro {
            text-align: left;
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid $theme_color;
            padding-bottom: 10px;
        }
    }
}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {

}
