@media print{
    @page {
        size: portrait;
    }
}

body {
    padding: 15px;
}

.sender_area {
    font-size: 14px;
}

.receiver_area {
    font-size: 18px;
    margin-top: 30px;
    margin-left: 120px;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

.margin_left_auto {
    margin-left: auto;
}

.underline {
    text-decoration: underline;
}

.container {
    .logo_area {
        width: 80px;
        height: 80px;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}

.flex_area {
    display: flex;

    .title {

    }

    .content {

    }
}

table.single_line_table {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

    &.margin_bottom_0 {
        margin-bottom: 0px;
    }

    &.margin_top_2 {
        margin-top: 2px;
    }

    tr {
        td {
            border: 1px solid #000;
            padding: 6px;
        }
    }
}

.bold {
    font-weight: bold;
}
