@media print{
    @page {
        size: portrait;
    }
}

html,body {
    width: 1024px;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

body {
    .filling_text {
        position: relative;
        z-index: 1;
        
        .row {
            width: 100%;
        }
        .col-xs-4 {
            width: 33.33%;
            float: left;
        }
        .col-xs-8 {
            width: 66.67%;
            float: left;
        }
        
        .fix_text {
            position: absolute;
            z-index: 2;
        }
    }
    
    .bg_img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1024px;
        z-index: 0;
    }
    
    font-size: 16px;
    
    .font-18 {
        font-size: 18px;
    }
    
    .font-14 {
        font-size: 14px;
    }
    
    .font-12 {
        font-size: 12px;
    }
    
    .font-13 {
        font-size: 13px;
    }
    
    
}