
.form-group .portlet-body {
    max-height: 500px;
    overflow-y: auto;
}

.fileinput-preview.thumbnail {
    width: 200px;
    height: 150px;
}

.float-right {
    float: right;
}

#map {
    width:100%;
    height:400px;
}

.loading_bar {
    color: #669999;
    position: fixed;
    right: 25%;
    text-align: center;
    display: none;
    top:50%;
    z-index: 2;
    width: 675px;
    border: solid;
    background: #fff;
}

.loading_bar_text {
    float: left;
    font-size: 45px;
}

.loading_bar_text svg{
    enable-background: new 0 0 50 50;
}

.loading_bar_img{
    float: left;
    margin-top: -48%;
    margin-left: 21%;
}

.preview_img {
    max-width: 150px;
    max-height: 150px;
}

#youtube_div label{
    margin-top: 20px;
    margin-bottom: 20px;
}

#youtube_div #video_url{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

#youtube_div #review{
    margin-bottom: 20px;
}

#youtube_div #video_viwer{
    margin: auto;
}

#3d_model_div a {
    margin-bottom: 20px;
}

.img-responsive {
    cursor: pointer;
}

.img_span {
    color: blue;
    text-decoration: underline;
}

i.fa-star {
    color: #efe422;
    font-size: 20px;
}

i.fa-star-o {
    color: #efe422;
    font-size: 20px;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

#footer .copyright {
    text-align: right;
}