body,ul,li{margin:0;padding:0;}
.grid_wrapper{
    width: 65px;
    height: 65px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}
.grid{
    margin-left: 5px;
    margin-top: 5px;
    list-style-type:none;
}
.grid:after{
    content: ".";
    display: block;
    line-height: 0;
    width:0;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}
.grid li{float:left;line-height: 25px;}
.grid li a,.grid li a:visited{
    display:block;
    border: 3px solid #ccc;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-left: -3px;
    margin-top: -3px;
    position: relative;
    z-index: 1;
}
.grid li a:hover {
    border-color: #d64635;
    z-index: 2;
}
.no_grid {
    background:#d64635;
}
.has_grid {
    background:#5b9bd1
}