a :focus {
    border: 2px red dotted !important;
}


/*=== 直屏 ===*/

@media (orientation: portrait) {}


/*=== 橫屏 ===*/

@media (orientation: landscape) {
    ul.drop-down-menu,
    ul.drop-down-menu ul {
        /* 取消ul預設的內縮及樣式 */
        margin: 0;
        padding: 0;
        list-style: none;
    }
    ul.drop-down-menu li:focus-within>ul {
        display: block;
        opacity: 1;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        left: -1px;
        border-right: 5px;
    }
    ul.drop-down-menu {
        border: #ccc 1px solid;
        display: inline-block;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
    }
    ul.drop-down-menu li {
        position: relative;
        white-space: nowrap;
        border-right: #ccc 1px solid;
    }
    ul.drop-down-menu>li:last-child {
        border-right: none;
    }
    ul.drop-down-menu>li {
        float: left;
        /* 只有第一層是靠左對齊*/
    }
    ul.drop-down-menu a {
        outline: none;
        background-color: #fff;
        color: #333;
        display: block;
        padding: 0 30px;
        text-decoration: none;
        line-height: 40px;
    }
    ul.drop-down-menu a:focus {
        border: 3px red dotted;
    }
    ul.drop-down-menu a:hover {
        /* 滑鼠滑入按鈕變色*/
        background-color: #ef5c28;
        color: #fff;
    }
    ul.drop-down-menu li:hover>a {
        /* 滑鼠移入次選單上層按鈕保持變色*/
        background-color: #ef5c28;
        color: #fff;
    }
    ul.drop-down-menu ul {
        border: #ccc 1px solid;
        position: absolute;
        z-index: 99;
        left: -1px;
        top: 100%;
        min-width: 180px;
    }
    ul.drop-down-menu ul li {
        border-bottom: #ccc 1px solid;
    }
    ul.drop-down-menu ul li:last-child {
        border-bottom: none;
    }
    ul.drop-down-menu ul ul {
        /*第三層以後的選單出現位置與第二層不同*/
        z-index: 999;
        top: 10px;
        left: 90%;
    }
    ul.drop-down-menu ul {
        /*隱藏次選單*/
        display: none;
    }
    ul.drop-down-menu li:hover>ul {
        /* 滑鼠滑入展開次選單*/
        display: block;
        opacity: 1;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        left: -1px;
        border-right: 5px;
    }
    ul.drop-down-menu a:focus+ul {
        display: block;
    }
    ul.drop-down-menu ul {
        /*隱藏次選單*/
        left: 99999px;
        opacity: 0;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }
    ul.drop-down-menu a:focus+ul {
        /* 滑鼠滑入展開次選單*/
        opacity: 1;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        left: -1px;
        border-right: 5px;
    }
    ul.drop-down-menu li:hover>ul ul {
        /* 滑鼠滑入之後、次選單之後的選單依舊隱藏*/
        left: 99999px;
    }
    ul.drop-down-menu a:focus+ul ul {
        /* 滑鼠滑入之後、次選單之後的選單依舊隱藏*/
        left: 99999px;
    }
    ul.drop-down-menu ul li:hover>ul {
        /* 第二層之後的選單展開位置*/
        left: 90%;
    }
    ul.drop-down-menu ul li:focus-within>ul {
        /* 第二層之後的選單展開位置*/
        left: 90%;
    }
    ul.drop-down-menu ul a:focus+ul {
        /* 第二層之後的選單展開位置*/
        left: 90%;
    }
}