.hide {
    display: none;
}

.main_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main_menu>ul {
    display: block;
    position: absolute;
}

a {
    outline: 3px transparent solid;
    text-decoration: none;
}

a:focus {
    outline: 3px rgba(255, 0, 0, .5) dotted;
}

input[type="text"] {
    outline: 3px transparent solid;
}

input[type="text"]:focus {
    outline: 3px rgba(255, 0, 0, .5) dotted;
}

.main_menu a {
    padding: 5px 10px;
}

.mainMenuItem,
.menuItem {
    min-width: 100px;
    width: auto;
}


/*
.mainMenuItem ul {
    display: none;
}
*/


/*=== 直屏 ===*/

@media (orientation: portrait) {}


/*=== 橫屏 ===*/

@media (orientation: landscape) {
    .mainMenuItem {
        float: left;
    }
}