$light_gray: #eee;

.page-header {
    .page-logo {
        .title {
            font-size: 20px;
            color: #fff;
            float: left;
            padding: 10px 0px;
        }
    }
}

.page-sidebar-closed {
    &.page-sidebar-closed-hide-logo {
        .page-header.navbar {
            .page-logo {
                .title {
                    display: none;
                }
            }
        } 
    } 
}

.page-sidebar-menu {
    &.page-sidebar-menu-closed {
        .logo {
            display: none;
        }
    }
}

.validation {
    padding: 4px;
    margin-bottom: 20px;
    border: 0px;
    border-radius: 0px;
    background-color: transparent;
    border-color: transparent;
    color: #e7505a;
}

.flex {
    display: flex;
}

.menu_tab {
    display: table-cell !important;
    vertical-align: middle;
    opacity: 0.3;
    
    a {
        border-top: 0px !important;
    }

    &.selected {
        background-color: #2b3643;
        opacity: 1;
        
        a {
            
        }
    }
}

.col2-width{
    width:150px !important;
    margin-left: -150px !important;
}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {

}
