$light_gray: #eee;
$warning_color: #f0ad4e;

.input-warning {
    color: $warning_color;
}

.validation,
.create_account_validation,
.recipient_validation {
    padding: 4px;
    margin-bottom: 20px;
    border: 0px;
    border-radius: 0px;
    background-color: transparent;
    border-color: transparent;
    color: #e7505a;
}

.align_item {
    padding-left: 35px !important;
    i {
        margin-left: -25px;
    }
}

.store_banner {
    height: 300px;
    background-size: cover;
    background-position: center;

    .c-page-breadcrumbs {
        border: 1px solid #32c5d2;
        border-radius: 20px;
        padding: 0px 8px;
        background-color: #fff;
        li {
            color: #32c5d2;
            padding: 2px 4px 2px 4px;
            a {
                color: #32c5d2;

                &:hover {
                    color: #3f444a !important;
                }
            }
        }
    }
}

.category_banner {
    height: 315px;
    background-size: cover;
    background-position: center;

    .c-page-breadcrumbs {
        border: 1px solid #32c5d2;
        border-radius: 20px;
        padding: 0px 8px;
        background-color: #fff;
        li {
            color: #32c5d2;
            padding: 2px 4px 2px 4px;
            a {
                color: #32c5d2;

                &:hover {
                    color: #3f444a !important;
                }
            }
        }
    }
}

.no_item {
    padding-top: 80px;
    padding-bottom: 140px;
    font-size: 24px;
}

.c-order-details {
    .refund {
        background-color: #ffffe1;
    }
}

.footer_links a {
    color: #b1c4d0;
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 10px;
}

.store_faq{
    background-color:#007383;
    text-align: center;
    color:white;
    .padding{
        padding:50px;
        background-color:#007383;
    }
    .cjec{
        left:50px;
        z-index: 1;
    }
    .tag{
        margin-left:-50px;
        margin-top: 90px;
    }
    .sop{
        line-height:100px;
        background-image: url(../images/store_faq/sop_bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 132px;
    }
    .bar{
        font-size:20px;
        font-weight: bold;
        text-align: center;
        background-image:url(../images/store_faq/bar.png);
        background-repeat: repeat-y;
        background-size: 100% 100%;
        line-height: 70px;
        height: 119px;
    }
    .need{
        background-color:#00aba5;
        line-height:80px;
    }

    .nblock{
        padding:50px 50px 0px 50px;
        line-height:25px;
        background-color:#007383;
        .n_img{
            display: block;
        }
        .n_title{
            font-size: 20px;
            font-weight: bold;
            padding: 5px 0px;
        }
        .n_desc{
            font-size: 16px;
            font-weight: normal;
            padding: 0px 20px;
            height:100px;
        }
    }
}

.product_faq{
    padding:0 8em;
    overflow-x:auto;
    .question{
        background-color:#f4f8f9;
        padding:10px 20px;
        .title{
            font-weight: bold;
            padding:0px 10px;
        }
        .desc{
            padding:10px 10px;
        }
        .date{
            float:right;
            font-weight: 100;
        }
    }
    .answer{
        padding:10px 40px;
        .title{ 
            padding:0px 10px;
        }
        .desc{
            padding:10px 10px;
            border-left:5px solid #eee;
        }
        .date{
            padding:10px 0px;
        }
    }
    .form_faq{
        margin:0px 100px;
    }
}

.captcha_image{
    float:left;
    padding-right:5px;
    margin-top:2px;
}

.margin-right-5{
    margin-right: 5px;
}

.margin-right-30{
    margin-right:30px;
}
.font-14{
    font-size: 14px;
}

.padding-top-30{
    padding-top:30px;
}

.nav-tabs.nav-justified{
    li{
        border-width: 0;
        border: none; color: #32c5d2 !important; background: transparent;
        &.active{
            a{
                transform: scale(1);
                border-width: 0;
                border: none; color: #32c5d2 !important; background: transparent;
                &:focus{
                    border-width: 0;
                }
                &:hover{
                    border-width: 0;
                    transform: scale(1);
                }
                &:after{
                    border-width: 0;
                    transform: scale(1);
                }
            }    
        }
        a{
            border: none; color: #666;
            &:hover{
                border: none; color: #32c5d2 !important; background: transparent; 
            }
            &:after{
                content: ""; background: #32c5d2; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0);
            }
        }
        &:hover{
            a{
                &:after{
                    transform: scale(1); 
                }
            }
        }
    }

}

.padding-bottom-5{
    padding-bottom: 5px;
}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

    .store_faq{
        .padding{
            padding:50px;
        }
        .cjec{
            left:0px;
        }
        .tag{
            margin-left:0px;
            margin-top: 20px;
        }
    }
}

@media (max-width: 767px) {
    .product_faq{
        padding:0;
    }
}

@media (max-width: 479px) {
    .utobonus {
        .flex_banner {
            display: block;

            .green_bg {
                margin-top: 0px;
            }
        }
    }

    .c-layout-header {
        .c-brand {
            margin-left: 0px;
            margin-right: 0px;

            > .c-topbar-toggler,
            > .c-search-toggler, 
            > .c-cart-toggler {
                margin: 0px 15px 0 0;
            }
        }
    }

    .footer_links a {
        font-size: 14px;
    }
    .product_faq{
        padding:0;
        .form_faq{
            margin:0px 10px;
        }
    }

}
