$light_gray: #eee;

.page-header {
    .page-logo {
        .title {
            font-size: 20px;
            color: #636363;
            float: left;
            padding: 10px 0px;
        }
    }
}

.page-sidebar-closed {
    &.page-sidebar-closed-hide-logo {
        .page-header.navbar {
            .page-logo {
                .title {
                    display: none;
                }
            }
        } 
    } 
}

.page-sidebar-menu {
    &.page-sidebar-menu-closed {
        .logo {
            display: none;
        }
    }
}

.validation {
    padding: 4px;
    margin-bottom: 20px;
    border: 0px;
    border-radius: 0px;
    background-color: transparent;
    border-color: transparent;
    color: #e7505a;
}

.padding-10{
    padding:10px;
}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {

}
