body{
    overflow-x: hidden;
}

.special_design {
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain; 
}

.s-margin-b{
    margin-bottom: -100px;
}

.space-10{
    padding-left: 10px;
    padding-right:10px;
}

.img-front{
    display:block;
    margin:auto;
}

.light_gray_border{
    border: 1px solid #eee;
}

.theme-blue{
    .sp_title {
        color:white;
        font-size:46px;
        font-weight: bold;
        text-align: center;
        background-image:url(../images/sp/bar_blue.png);
        background-repeat:no-repeat;
        background-size:100% 100%;
        height:73px;
        margin-left:-15px;
        margin-right:-15px;
    }
    .flag_bar{
        background-color:#ff885d;
        background-image: url(../images/sp/flag_FF885D.png);
        background-repeat:no-repeat;
        background-position: right center;
        color:white;
        height:24px;
        z-index:99;
        padding-left:20px;
    }
}

.theme-orange{
    .sp_title {
        color:white;
        font-size:46px;
        font-weight: bold;
        text-align: center;
        background-image:url(../images/sp/bar_orange.png);
        background-repeat:no-repeat;
        background-size:100% 100%;
        height:73px;
        margin-left:-15px;
        margin-right:-15px;
    }
    .flag_bar{
        background-color:#FF58AB;
        background-image: url(../images/sp/flag_FF58AB.png);
        background-repeat:no-repeat;
        background-position: right center;
        color:white;
        height:24px;
        z-index:99;
        padding-left:20px;
    }
}

.theme-green{
    .sp_title {
        color:white;
        font-size:46px;
        font-weight: bold;
        text-align: center;
        background-image:url(../images/sp/bar_green.png);
        background-repeat:no-repeat;
        background-size:100% 100%;
        height:73px;
        margin-left:-15px;
        margin-right:-15px;
    }
    .flag_bar{
        background-color:#00D3D1;
        background-image: url(../images/sp/flag_00D3D1.png);
        background-repeat:no-repeat;
        background-position: right center;
        color:white;
        height:24px;
        z-index:99;
        padding-left:20px;
    }
}

.theme-pink{
    .sp_title {
        color:white;
        font-size:46px;
        font-weight: bold;
        text-align: center;
        background-image:url(../images/sp/bar_pink.png);
        background-repeat:no-repeat;
        background-size:100% 100%;
        height:73px;
        margin-left:-15px;
        margin-right:-15px;
    }
    .flag_bar{
        background-color:#FFBC36;
        background-image: url(../images/sp/flag_FFBC36.png);
        background-repeat:no-repeat;
        background-position: right center;
        color:white;
        height:24px;
        z-index:99;
        padding-left:20px;
    }
}

.theme-brown{
    .sp_title {
        color:white;
        font-size:46px;
        font-weight: bold;
        text-align: center;
        background-image:url(../images/sp/bar_brown.png);
        background-repeat:no-repeat;
        background-size:100% 100%;
        height:73px;
        margin-left:-15px;
        margin-right:-15px;
    }
    .flag_bar{
        background-color:#FF885D;
        background-image: url(../images/sp/flag_FF885D.png);
        background-repeat:no-repeat;
        background-position: right center;
        color:white;
        height:24px;
        z-index:99;
        padding-left:20px;
    }
}

.theme-red{
    .sp_title {
        color:white;
        font-size:46px;
        font-weight: bold;
        text-align: center;
        background-image:url(../images/sp/bar_red.png);
        background-repeat:no-repeat;
        background-size:100% 100%;
        height:73px;
        margin-left:-15px;
        margin-right:-15px;
    }
    .flag_bar{
        background-color:#FF58AB;
        background-image: url(../images/sp/flag_FF58AB.png);
        background-repeat:no-repeat;
        background-position: right center;
        color:white;
        height:24px;
        z-index:99;
        padding-left:20px;
    }
}

.row-box{
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 20px;
}

.rect_image{
    width:100%;
    height:0px;
    padding-bottom: 100%;
    background-size: contain;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}

.tag_mark{
    background-image:url(../images/sp/tag.png);
    background-repeat:no-repeat;
    width:32px;
    height:48px;
    position:absolute;
    right:0px;
    top:0px;
    z-index:9;
    .tag_name{
        font-size:12px;
        color:white;
        padding:5px;
        display:block;
        width:100%;
        text-align: center;
    }
}

.product_desc{
    background-color:white;
    color:black;
    height:60px;
    font-size:16px;
    padding:10px 20px;
}

.product_price{
    display: inline-table;
    background-color:white;
    color:#24c5d3;
    padding:10px 20px;
    line-height:35px;
    .dollar{
        font-size: 16px;
    }
    .price{
        font-weight: bold;
        font-size: 26px;
        display: inline-flex;
    }
}

.sale-box{
    position:absolute;
    width:89px;
    font-size:14px;
    text-align: center;
    background-color: #FC45A0;
    color:white;
    top:0px;
    right:0px;
    padding:3px;
    z-index:99;
    -webkit-transition-property: top,right;
    -webkit-transition-duration: 0.5s;

    .padding-5{
        padding:3px;
    }
    .sale-img{
        width:77px;
        height:77px;
    }
    .l-sale-box{
        position:absolute;
        right:85px;
        z-index:99;
        text-align: right;
        background-color: #FC45A0;
        padding: 15px 5px;
        -webkit-transition-property: top,right;
        -webkit-transition-duration: 0.5s;
    }
}


@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
    .special_design {
        margin-top:40px;
    }
    .s-margin-b{
        margin-bottom: 0px;
    }
    .space-10{
        padding-left: 10px;
        padding-right:10px;
    }
    .product_desc{
        height:50px;
        font-size:14px;
        padding: 10px 10px;
    }
    .product_price{
        padding:10px 10px;
    }
}

@media (max-width: 479px) {
    .special_design {
        margin-top:40px;
    }
    .sp_title{
        font-size:36px;
    }
    .s-margin-b{
        margin-bottom: 0px;
    }
    .space-10{
        padding-left: 10px;
        padding-right:10px;
    }
    .product_desc{
        height:50px;
        font-size:14px;
        padding: 10px 10px;
    }
    .product_price{
        padding:10px 10px;
    }
}
