$light_gray: #eee;

.utobonus {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

    .c-navbar {
        .c-navbar-wrapper {
            .c-brand {
                margin-top: 20px;

                .c-logo {
                    img {
                        max-width: 100px;
                    }
                }
            }

            .c-mega-menu {
                ul {
                    li {
                        a {
                            font-size: 14px;
                            line-height: 20px;
                            font-weight: 100 !important;
                        }
                    }
                }
            }
        }
    }

    .c-layout-header {
        height: 95px !important;
    }

    .flex_banner {
        display: flex;

        .shadow_bg {
            width: 100%;
            height: 6px;
            background-image: url(../images/shadow_bg.png);
            background-repeat: repeat-x;
            position: absolute;
            top: 0px;
            margin-left: -15px;
        }
    }

    .orange_bg {
        margin-top: 95px;
        background-color: #f9835e;
    }

    .green_bg {
        margin-top: 95px;
        background-color: #55beba;
    }

    .align_item {
        padding-left: 35px !important;
        i {
            margin-left: -25px;
        }
    }
}


@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {
    .utobonus {
        .flex_banner {
            display: block;

            .green_bg {
                margin-top: 0px;
            }
        }
    }
}
