.slide_carousel {
  position: relative;
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 60%, #207cca 51%, #7db9e8 100%); }
  .slide_carousel .slide_pagination {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 100; }
    .slide_carousel .slide_pagination .slide_pagination_btn {
      background-color: #ccc;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
      box-shadow: 2px 2px 2px;
      cursor: pointer; }
      .slide_carousel .slide_pagination .slide_pagination_btn.active, .slide_carousel .slide_pagination .slide_pagination_btn:hover {
        background-color: #0000ff; }
  .slide_carousel .slide_container {
    z-index: 0; }
    .slide_carousel .slide_container .slide_item {
      position: absolute;
      height: 10%;
      transition-duration: 0.6s;
      transition-timing-function: ease-in;
      margin: auto;
      top: 0px;
      bottom: 0px;
      cursor: pointer; }
      .slide_carousel .slide_container .slide_item.hidden_prev {
        left: 0%;
        width: 10%;
        height: 20%;
        opacity: 0;
        z-index: 7; }
      .slide_carousel .slide_container .slide_item.prev2 {
        left: 5%;
        width: 30%;
        height: 40%;
        opacity: 0.5;
        z-index: 8; }
      .slide_carousel .slide_container .slide_item.prev {
        left: 10%;
        width: 45%;
        height: 60%;
        opacity: 1;
        z-index: 9; }
      .slide_carousel .slide_container .slide_item.active {
        left: 20%;
        width: 60%;
        height: 80%;
        opacity: 1;
        z-index: 10; }
      .slide_carousel .slide_container .slide_item.next {
        left: 45%;
        width: 45%;
        height: 60%;
        opacity: 1;
        z-index: 9; }
      .slide_carousel .slide_container .slide_item.next2 {
        left: 65%;
        width: 30%;
        height: 40%;
        opacity: 0.5;
        z-index: 8; }
      .slide_carousel .slide_container .slide_item.hidden_next {
        left: 90%;
        width: 10%;
        height: 20%;
        opacity: 0;
        z-index: 7; }
      .slide_carousel .slide_container .slide_item img {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0; }

/*# sourceMappingURL=carousel.css.map */
