.form-control{
  @apply .w-full .p-2 .border .border-primary .rounded;

  &.has-error{
    @apply .border-red;
  }

  &.select{
    @apply .appearance-none;
    background: url("assets/svg/down-arrow.svg") 96% / 6% no-repeat;
  }

  //  &.ng-touched.ng-invalid{
  //    @apply .border-red;
  //}


}

.has-error-date{
  .mydp{
    border:1px solid red;
  }
}

.button{
  @apply .w-full .rounded .text-center;

  &.lg{
    @apply .p-2 .text-lg .font-extrabold;
  }

  &.primary{
    @apply .bg-primary .text-white;
    &:hover{
      @apply .bg-primary-light;
    }
  }

  &.grey{
    @apply .bg-grey-lightest .border .border-primary;

    &.active{
      @apply .bg-primary .text-white;
    }
  }

  &.outline{
    @apply .bg-transparent .border-2 .border-primary .text-primary;

    &:hover{
      @apply .text-white;
    }

    &.active{
      @apply .bg-primary .text-white;
    }
  }

  &.facebook{
    @apply .bg-facebook .text-white;
    &:hover{
      @apply .bg-facebook-light;
    }
  }

  &.google{
    @apply .bg-google .text-white;
    &:hover{
      @apply .bg-google-light;
    }
  }

  &:disabled{
    @apply .bg-grey .text-green-darkest;
  }
}

.search-dropdown{
  position: relative;
  display: block;
  &::after{
    content: " ";
    display: block;
    position: absolute;
    top:calc(50% - 12.5px);
    right:10px;
    background: url("assets/svg/search-dropdown.svg") no-repeat;
    background-position: top right;
    width: 25px;
    height:25px;
  }

  .ngui-auto-complete{
    ul{
      li.item{
        padding:.5rem 1rem;
        &:hover{
          background:#43edce;
          color:#fff;
        }
      }
    }
  }
}