.tab{
  .tab-items{
    @apply .border-b-4 .border-grey-two .flex .justify-center .pl-4;


    @screen sm{
      @apply .justify-start;
    }

    button{
      @apply .p-4 .block .text-lg .font-bold .border-b-4 .border-grey-two .-m-1;
      transition: all .5s ease;

      &.active{
        @apply .border-primary .text-primary;
      }

      &:hover{
        @apply .text-primary;
      }
    }
  }

}

.tab-two{
   .tab-items{
     @apply .flex .justify-center;
    button{
        @apply .py-2 .flex-1 .border-2 .border-primary .rounded .text-primary .mx-2 .font-bold .text-sm;
        transition: all .5s ease;

        &.active{
          @apply .bg-primary .text-white;
        }

        @screen sm{
          @apply .text-xl .flex-initial .py-3 .px-6 .mx-4;
        }

        &:hover{
          @apply .bg-primary-semi-transparent;
          @apply .text-white;
        }
    }
  }
}
