
@keyframes v_rotate360 {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}

.animate_v_rotate360 {
    &:hover {
        .animate_target {
            transform: rotateX(360deg);
            transition-duration: 0.4s;
        }
    }
}

.hover_zoom {
    transition: 0.3s;
    transform: scale(1,1);
    &:hover {
        transition: 0.3s;
        transform: scale(1.2,1.2);
    }
}

.animate_gray_to_color {
    -webkit-filter: grayscale(100%);
    -webkit-filter: grayscale(1);
    filter: grayscale(100%);
    transition-duration: 0.8s;

    &:hover {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        transition-duration: 0.8s;
    }
}
