.slide_carousel {
    position: relative;
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 60%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);

    .slide_pagination {
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        z-index: 100;

        .slide_pagination_btn {
            background-color: #ccc;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            display: inline-block;
            margin-left: 5px;
            margin-right: 5px;
            box-shadow: 2px 2px 2px;
            cursor: pointer;

            &.active,
            &:hover {
                background-color: #0000ff;
            }
        }
    }

    .slide_container {
        z-index: 0;

        .slide_item {
            position: absolute;
            height: 10%;
            transition-duration: 0.6s;
            transition-timing-function: ease-in;
            margin: auto;
            top: 0px;
            bottom: 0px;
            cursor: pointer;

            &.hidden_prev {
                left: 0%;
                width: 10%;
                height: 20%;
                opacity: 0;
                z-index: 7;
            }
            &.prev2 {
                left: 5%;
                width: 30%;
                height: 40%;
                opacity: 0.5;
                z-index: 8;
            }
            &.prev {
                left: 10%;
                width: 45%;
                height: 60%;
                opacity: 1;
                z-index: 9;
            }
            &.active {
                left: 20%;
                width: 60%;
                height: 80%;
                opacity: 1;
                z-index: 10;
            }
            &.next {
                left: 45%;
                width: 45%;
                height: 60%;
                opacity: 1;
                z-index: 9;
            }
            &.next2 {
                left: 65%;
                width: 30%;
                height: 40%;
                opacity: 0.5;
                z-index: 8;
            }
            &.hidden_next {
                left: 90%;
                width: 10%;
                height: 20%;
                opacity: 0;
                z-index: 7;
            }

            img {
                position: absolute;
                margin: auto;
                top: 0;
                bottom: 0;
            }
        }
    }
}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {

}