$light_gray: #eee;
$warning_color: #d64635;

.table {
    thead,tbody,tfoot {
        tr {
            td,th {
                vertical-align: middle;            
            }
        }
    }
}

.dataTables_wrapper {
    .table {
        tbody {
            tr {
                td {
                    &:last-of-type {
                        .btn {
                            margin-top: 3px;
                            margin-bottom: 3px;
                        }
                    }
                }
            }
        }
    }
}

.radio-text {
    display: inline;
    vertical-align: -webkit-baseline-middle;
}

.rect_bg_image {
    height:0px;
    padding-bottom: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.warning_color {
    color: $warning_color;
}

.align_left {
    text-align: left;
}

.align_right {
    text-align: right;
}

.align_center {
    text-align: center;
}

.date_picker_container {
    width: 120px;
}

.line_height_34 {
    line-height: 34px;
}

.margin_0 {
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.margin_top_40 {
    margin-top: 40px;
}

.margin_top_10 {
    margin-top: 10px;
}

.margin_top_6 {
    margin-top: 6px;
}

.margin_right_10 {
    margin-right: 10px;
}

.margin_left_10{
    margin-left: 10px;
}

.margin_right_30 {
    margin-right: 30px;
}

.margin_left_30{
    margin-left: 30px;
}
c-margin-t-10{
    margin-top: 10px !important;
}

.tooltip-inner {
    white-space: pre-wrap;
    text-align: left;
}

.grid_small_space {
    padding-left: 5px;
    padding-right: 5px;

    .light_gray_border {
        border: 1px solid #eee;
    }
}

.list_style_btns.btn > i.fa {
    margin-right: 0px;
}

.progress{
    height:30px;
    border-radius:15px;
    background-color:#dcdcdc;
    margin: 20px;
    .progress-bar {
        height:30px;

        span {
            line-height:30px;
            font-size:16px;
        }
        &.progress-bar-success {
            &.yet {
                border-top-right-radius:15px;
                border-bottom-right-radius: 15px;
            }
        }
        &.progress-bar-yet{
            background-color:#dcdcdc; 
            color:white; 
        }
    }
}

.progress-circle{
    border-radius:15px;
    width:30px;
    height:30px;
    background-color:#5dc09c;
    border: 4px solid white;
    float:right;
}

.s-title{
    font-size: 24px;
    text-align: center;
    color: #32c5d2;
    background-color:#32c5d2;
    margin: 20px;
    margin-top: 20px;
    height:2px;
    span{
        top: -20px;
        position: relative;
        background-color:white;
    }
}

.row-tracking{
    float:right;
}

.c-btn-link{
    padding:0px 10px;
    margin-right: 20px;
}

.bg-blue-aliceblue{
    background-color:#f0f8ff;
}

.fancybox-opened{
    z-index: 10300;
}

.pagination-li{
    position:relative;
    z-index: 10;
    background-color:#fff;
}

.c-content-store .c-label{
    display:inline-block;
    position:absolute;
    z-index:9;
    bottom:0px;
    right:0px;
}

.c-layout-header .c-navbar .c-mega-menu.c-fonts-uppercase > .nav.navbar-nav > li .dropdown-menu > li > a{
    font-size: 14px;
}

.no-border{
    border-width: 0px;
}

.read {
    .read_item {
        display: block;
    }
    .unread_item {
        display: none;
    }
}

.unread {
    .read_item {
        display: none;
    }
    .unread_item {
        display: block;
    }
}

@media (max-width: 1199px) {
    
}

@media (max-width: 991px) {
    .c-layout-footer-7 .c-head .c-right{
        margin-top:0px;
    }
}

@media (max-width: 767px) {
    .text-left-xs {
        text-align: left;
    }
    .text-right-xs{
        text-align: right;
    }
}

@media (max-width: 479px) {

}