.input-warning {
  color: #f0ad4e; }

.validation,
.create_account_validation,
.recipient_validation {
  padding: 4px;
  margin-bottom: 20px;
  border: 0px;
  border-radius: 0px;
  background-color: transparent;
  border-color: transparent;
  color: #e7505a; }

.align_item {
  padding-left: 35px !important; }
  .align_item i {
    margin-left: -25px; }

.store_banner {
  height: 300px;
  background-size: cover;
  background-position: center; }
  .store_banner .c-page-breadcrumbs {
    border: 1px solid #32c5d2;
    border-radius: 20px;
    padding: 0px 8px;
    background-color: #fff; }
    .store_banner .c-page-breadcrumbs li {
      color: #32c5d2;
      padding: 2px 4px 2px 4px; }
      .store_banner .c-page-breadcrumbs li a {
        color: #32c5d2; }
        .store_banner .c-page-breadcrumbs li a:hover {
          color: #3f444a !important; }

.category_banner {
  height: 315px;
  background-size: cover;
  background-position: center; }
  .category_banner .c-page-breadcrumbs {
    border: 1px solid #32c5d2;
    border-radius: 20px;
    padding: 0px 8px;
    background-color: #fff; }
    .category_banner .c-page-breadcrumbs li {
      color: #32c5d2;
      padding: 2px 4px 2px 4px; }
      .category_banner .c-page-breadcrumbs li a {
        color: #32c5d2; }
        .category_banner .c-page-breadcrumbs li a:hover {
          color: #3f444a !important; }

.no_item {
  padding-top: 80px;
  padding-bottom: 140px;
  font-size: 24px; }

.c-order-details .refund {
  background-color: #ffffe1; }

.footer_links a {
  color: #b1c4d0;
  font-size: 17px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 10px; }

.store_faq {
  background-color: #007383;
  text-align: center;
  color: white; }
  .store_faq .padding {
    padding: 50px;
    background-color: #007383; }
  .store_faq .cjec {
    left: 50px;
    z-index: 1; }
  .store_faq .tag {
    margin-left: -50px;
    margin-top: 90px; }
  .store_faq .sop {
    line-height: 100px;
    background-image: url(../images/store_faq/sop_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 132px; }
  .store_faq .bar {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-image: url(../images/store_faq/bar.png);
    background-repeat: repeat-y;
    background-size: 100% 100%;
    line-height: 70px;
    height: 119px; }
  .store_faq .need {
    background-color: #00aba5;
    line-height: 80px; }
  .store_faq .nblock {
    padding: 50px 50px 0px 50px;
    line-height: 25px;
    background-color: #007383; }
    .store_faq .nblock .n_img {
      display: block; }
    .store_faq .nblock .n_title {
      font-size: 20px;
      font-weight: bold;
      padding: 5px 0px; }
    .store_faq .nblock .n_desc {
      font-size: 16px;
      font-weight: normal;
      padding: 0px 20px;
      height: 100px; }

.product_faq {
  padding: 0 8em;
  overflow-x: auto; }
  .product_faq .question {
    background-color: #f4f8f9;
    padding: 10px 20px; }
    .product_faq .question .title {
      font-weight: bold;
      padding: 0px 10px; }
    .product_faq .question .desc {
      padding: 10px 10px; }
    .product_faq .question .date {
      float: right;
      font-weight: 100; }
  .product_faq .answer {
    padding: 10px 40px; }
    .product_faq .answer .title {
      padding: 0px 10px; }
    .product_faq .answer .desc {
      padding: 10px 10px;
      border-left: 5px solid #eee; }
    .product_faq .answer .date {
      padding: 10px 0px; }
  .product_faq .form_faq {
    margin: 0px 100px; }

.captcha_image {
  float: left;
  padding-right: 5px;
  margin-top: 2px; }

.margin-right-5 {
  margin-right: 5px; }

.margin-right-30 {
  margin-right: 30px; }

.font-14 {
  font-size: 14px; }

.padding-top-30 {
  padding-top: 30px; }

.nav-tabs.nav-justified li {
  border-width: 0;
  border: none;
  color: #32c5d2 !important;
  background: transparent; }
  .nav-tabs.nav-justified li.active a {
    transform: scale(1);
    border-width: 0;
    border: none;
    color: #32c5d2 !important;
    background: transparent; }
    .nav-tabs.nav-justified li.active a:focus {
      border-width: 0; }
    .nav-tabs.nav-justified li.active a:hover {
      border-width: 0;
      transform: scale(1); }
    .nav-tabs.nav-justified li.active a:after {
      border-width: 0;
      transform: scale(1); }
  .nav-tabs.nav-justified li a {
    border: none;
    color: #666; }
    .nav-tabs.nav-justified li a:hover {
      border: none;
      color: #32c5d2 !important;
      background: transparent; }
    .nav-tabs.nav-justified li a:after {
      content: "";
      background: #32c5d2;
      height: 2px;
      position: absolute;
      width: 100%;
      left: 0px;
      bottom: -1px;
      transition: all 250ms ease 0s;
      transform: scale(0); }
  .nav-tabs.nav-justified li:hover a:after {
    transform: scale(1); }

.padding-bottom-5 {
  padding-bottom: 5px; }

@media (max-width: 991px) {
  .store_faq .padding {
    padding: 50px; }
  .store_faq .cjec {
    left: 0px; }
  .store_faq .tag {
    margin-left: 0px;
    margin-top: 20px; } }
@media (max-width: 767px) {
  .product_faq {
    padding: 0; } }
@media (max-width: 479px) {
  .utobonus .flex_banner {
    display: block; }
    .utobonus .flex_banner .green_bg {
      margin-top: 0px; }

  .c-layout-header .c-brand {
    margin-left: 0px;
    margin-right: 0px; }
    .c-layout-header .c-brand > .c-topbar-toggler,
    .c-layout-header .c-brand > .c-search-toggler,
    .c-layout-header .c-brand > .c-cart-toggler {
      margin: 0px 15px 0 0; }

  .footer_links a {
    font-size: 14px; }

  .product_faq {
    padding: 0; }
    .product_faq .form_faq {
      margin: 0px 10px; } }

/*# sourceMappingURL=front.css.map */
