.slide_nav_container {
  width: 100%;
  height: 40px;
  overflow-y: hidden;
  overflow-x: scroll;
  position: fixed;
  top: 65px;
  z-index: 10;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #ccc;
  box-shadow: 0px 3px 9px -4px rgba(0, 0, 0, 0.25); }
  .slide_nav_container .slide_nav {
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: 38px;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    font-size: 0; }
    .slide_nav_container .slide_nav .slide_nav_item {
      display: inline-block;
      padding: 0px 20px;
      height: 38px;
      line-height: 38px;
      border-left: 1px solid #ccc;
      background-color: #32c5d2;
      font-size: 17px; }
      .slide_nav_container .slide_nav .slide_nav_item:first-child {
        border-left: 0px; }
      .slide_nav_container .slide_nav .slide_nav_item.active {
        background-color: #e66b4f; }
      .slide_nav_container .slide_nav .slide_nav_item .menu_item {
        height: 38px;
        color: #fff; }

.c-topbar-expanded .slide_nav_container {
  top: 109px; }

.c-content-pagination > li > a {
  width: 38px;
  height: 38px; }

.margin-top-40 {
  margin-top: 40px; }

/*# sourceMappingURL=front_mobile.css.map */
