.page-header .page-logo .title {
  font-size: 20px;
  color: #fff;
  float: left;
  padding: 10px 0px; }

.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo .title {
  display: none; }

.page-sidebar-menu.page-sidebar-menu-closed .logo {
  display: none; }

.validation {
  padding: 4px;
  margin-bottom: 20px;
  border: 0px;
  border-radius: 0px;
  background-color: transparent;
  border-color: transparent;
  color: #e7505a; }

.padding-10 {
  padding: 10px; }

/*# sourceMappingURL=sa.css.map */
