.utobonus {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
  .utobonus .c-navbar .c-navbar-wrapper .c-brand {
    margin-top: 20px; }
    .utobonus .c-navbar .c-navbar-wrapper .c-brand .c-logo img {
      max-width: 100px; }
  .utobonus .c-navbar .c-navbar-wrapper .c-mega-menu ul li a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 100 !important; }
  .utobonus .c-layout-header {
    height: 95px !important; }
  .utobonus .flex_banner {
    display: flex; }
    .utobonus .flex_banner .shadow_bg {
      width: 100%;
      height: 6px;
      background-image: url(../images/shadow_bg.png);
      background-repeat: repeat-x;
      position: absolute;
      top: 0px;
      margin-left: -15px; }
  .utobonus .orange_bg {
    margin-top: 95px;
    background-color: #f9835e; }
  .utobonus .green_bg {
    margin-top: 95px;
    background-color: #55beba; }
  .utobonus .align_item {
    padding-left: 35px !important; }
    .utobonus .align_item i {
      margin-left: -25px; }

@media (max-width: 479px) {
  .utobonus .flex_banner {
    display: block; }
    .utobonus .flex_banner .green_bg {
      margin-top: 0px; } }

/*# sourceMappingURL=utobonus.css.map */
